.App {
  text-align: center;
}

.container{
  height:10vh;
  width:100%;
  margin:auto;
  border-radius: 1px;
  background-color: #202022;
 

}
.nav{
  margin-top: 10px;
  text-decoration: none;
  font-size: 25px;
  background-color: transparent;
  margin-left: 10px;
  font-weight: bold;
  display:flex;
  gap:25%;
  

}
.white{
  color:white;
}
.prod{
  font-size: 25px;
  font-weight: bold;
  color: green;
  margin-top: 35px;
  display: flex;
 

}
.prod1{
  font-size: 25px;
  font-weight: bold;
  color: green;
  margin-top: 35px;
}
.button{
  border-radius: 10px;
  background-color: black;
  color:white;
  margin-left: 10px;

}
.red{
  color:red;
}
.img{
  height:80vh;
  width:100%;
}
.er>p{
 font-size:25px;
 color:teal;
}
.img2{
  border:1px solid teal;
  padding:10px;
  border-radius: 15px;
  height:50vh;
  width:50%;
  margin:auto;
  display: block;

}